  .static {
        position: static;
        background-color: #ad2121;
        border: 3px solid #ad2121;
    }

    .relative {
        position: relative;
        left: 10px;
        top: 10px;
        background-color: #5721ad;
        border: 3px solid #5721ad;
    }

    .fixed {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 300px;
        background-color: #ad2188;
        border: 3px solid #ad2188;
    }

    .parentpositioning {
        background-color: #6921ad;
        width: 550px;
        height: 400px;
        position: relative;
    }

    .absolute {
        position: absolute;
        top: 40px;
        width: 500px;
        background-color: #ada121;
        border: 3px solid #ada121;
    }

    .sticky {
        position: sticky;
        top: 0;
        background-color: green;
        border: 2px solid #4CAF50;
    }